name: lint

on: [push]

jobs:
  tests:
    name: pytests (${{ matrix.os }} - ${{ matrix.python-version }}, Mambaforge)
    runs-on: ${{ matrix.os }}-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        os: "ubuntu"
        python-version: [ '3.10' ]
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: environment.yml
          python-version: ${{ matrix.python-version }}
          miniforge-version: latest
          miniforge-variant: Mambaforge

      - name: Lint with pylint
        run: |
          pylint --fail-under=9 wavy

